* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  font-family: Open-Sans, sans-serif;
}

/* add  poppins family for heading*/
